body {
  font-size: 14px;
}

.wrapper {
  margin: 0 1rem;
  transition: 0.3s ease all;
}

@media screen and (min-width: 576px) {
  .wrapper {
    margin: 0 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    margin: 0 5rem;
  }
}
