.toggle {
  display: block;
}

.header__navMenu,
.header__loginMenu {
  display: none;
}

.header {
  overflow: hidden;
  &__navbar {
    margin: 2.5rem 0;
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 400;
    transition: 0.3s ease all;
  }

  &__links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    transition: 0.2s ease all;
  }
  &__linkItem {
    text-decoration: none;
    color: #000;
  }
  &__btn {
    &--light {
      border: none;
      background: none;
      cursor: pointer;
      margin: 0 1rem;

      &:hover {
        border: 1px solid black;
      }
    }
    &--dark {
      padding: 12px;
      border-radius: 8px;
      color: white;
      background-color: black;
    }
  }
}

// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) {
  // Medium devices (tablets, 768px and up)
  .toggle {
    display: none;
  }
  .header__navMenu,
  .header__loginMenu {
    display: block;
  }
  .header__logo {
    margin-right: auto;
  }

  @media (min-width: 768px) {
    // Large devices (desktops, 992px and up)
    .header__logo {
      margin-right: 0;
    }

    @media (min-width: 992px) {
    }
  }
}

// Extra large devices (large desktops, 1200px and up)

// @media (min-width: 1200px) {

// #wrapper {width:90%;  margin: 0 auto; }

// }
